.btn {
	background-color: var(--secondary-light-gray);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.5rem 1.5rem;
	border-radius: 10px;
	font-weight: 500;
	transition: all 0.25s;
	width: min-content;
	white-space: nowrap;
}

.btn:hover {
	background-color: var(--primary-orange);
	color: white;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
