.mainHeader {
	background-color: var(--primary-dark-gray);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}
.mainHeader h1 {
	color: var(--primary-orange);
}

.mainHeader nav {
	display: flex;
	column-gap: 1rem;
}
/* links gets converted to anchor tags --a  */
.mainHeader nav a {
	color: white;
	text-decoration: none;
}

.mainHeader nav a:hover {
	text-decoration: underline;
}
