/* importing roboto font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* created variables */
:root {
	--primary-dark-gray: #474c55;
	--primary-orange: #f26925;
	--secondary-blue: #72a4c2;
	--secondary-yellow: #fcb414;
	--secondary-light-gray: #b9b9ba;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	position: relative;
}

html,
body {
	width: 100%;
	height: 100%;
}

.container {
	padding: 1rem 2rem;
}

.flex-column {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.flex-row-sb {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.light-gray {
	color: var(--secondary-light-gray);
}

.capitalize {
	text-transform: capitalize;
}

.center {
	display: flex;
	justify-content: center;
}

.mb-1 {
	margin-bottom: 2rem;
}

.mt-1 {
	margin-top: 1rem;
}

.modalWrapper {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal {
	background-color: white;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.modal svg {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
}

.modal input {
	font-size: 1rem;
	padding: 0.5rem 1.5rem;
	border-radius: 10px;
	outline: none;
	border: 1px solid var(--primary-dark-gray);
}
