.register {
	/* background-color: #72a4c2; */
	margin-top: 3rem;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.register input {
	height: 1rem;
	width: 100%;
	border-radius: 10px;
	padding: 15px;
	padding-left: 5px;
}

.register form label {
	white-space: nowrap;
}

.register-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-dark-gray);
	color: var(--primary-orange);
	font-size: 1.5rem;
	justify-content: center;
	display: flex;
	align-items: center;
	padding: 1rem 0;
}
