.home {
	color: var(--secondary-blue);
	margin: 0 auto;
}

.home-image {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.home-container {
	text-align: center;
	align-content: center;
}
.home-animated {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.marquee {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background: var(--primary-dark-gray);
	color: var(--primary-orange);
	border: 1px solid #4a4a4a;
}

.banner-text {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 1s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 50s linear infinite;
}

@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}

	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
